.settings-page {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .settings-section {
    margin-bottom: 10px;
  }
  
  .settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .settings-item label {
    font-size: 16px;
    color: #333;
  }
  
  .settings-item input[type="text"],
  .settings-item input[type="email"],
  .settings-item input[type="password"] {
    width: 60%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .settings-item input[type="checkbox"] {
    transform: scale(1.2);
  }
    .save-settings-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .save-settings-btn:hover {
    background-color: #0056b3;
  }
  /* Style the Reset Password button in blue */
  .reset-password-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-btn:hover {
    background-color: #0056b3;
  }
  
  /* Toggle Switch */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color:#007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(25px);
  }
  
  /* Success Message */
  .success-message {
    color: green;
    font-size: 0.9em;
    margin-top: 5px;
  }
  